const config = {
    auth: {
        jwks: {
            ssl: false,
            uri: 'http://localhost:5000/.well-known/jwks.json'
        },
        jwt: {
            algorithm: 'RS512'
        }
    },
    other: {
        fallbackLocale: 'en_US'
    },
    emailService: {
        host: 'smtp.gmail.com',
        port: 587,
        secure: false, // true for 465, false for other ports
        auth: {
            user: 'user',
            pass: 'pass'
        },
        from: {
            name: "NAME",
            email: "some@email.js",
        }
    }
};
if (process.env.ENV == 'test') {
    config.db = {
        host: 'localhost',
        port: 3307,
        name: 'mailer_test',
        username: 'root',
        password: 'password'
    }
} else {
    config.db = {
        host: 'localhost',
        port: 3307,
        name: 'mailer',
        username: 'root',
        password: 'password'
    }
}
module.exports = config;